<div class="padding-vertical">
  <div class="product-title-background">
    <div class="container">
      <div class="post-title white-text right">
        <%= @cause.title %>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="padding-bottom">
    <img src="https://placehold.it/1920x1080" width="100%" />
  </div>

</div>